*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    scroll-behavior: smooth;
  }
  body{
    font-family: "Barlow Semi Condensed", sans-serif;
    overflow-x: hidden;
  }
  
h1,h2,h3 {
  font-weight: 600;
}
.blockcentered{
  text-align: center;
} 
.ss{
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height:100vh;
  background-color: #FAF8FF;
}
.ss h1{
  color: #264de4;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.ss-grad{
  background:linear-gradient(#FAF8FF,#2965f1);
}
.ss-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .bg-primary-400 {
    background: #5B6AFF;
  }
  .bg-secondary-400 {
    background: #302D4A;
  }
  .bg-secondary-500 {
    background: #0077A1;
  }
  
  .bg-neutral-100 {
    background: #CCF6FF;
  }
  
  .text-neutral-100 {
    color: hsl(0 0% 100%);
  }
  .text-secondary-400 {
    color: hsl(263 55% 52%);
  }
  .border-primary-400 {
    border: 2px solid #a775f1;
  }

  /* bouton de scroll vers le haut */
#btnscrolltop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #264de4;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #ffffff;
  border: none;;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: 300ms ease-in-out;
}
#btnscrolltop:hover{
  background: #05e8ba;
  bottom: 2rem;
}
#btnscrolltop svg{
  width: 40%;
}
#btnscrolltop svg path{
  fill:white;
}

/************ header ***********/
.header
{
  position: relative;
    min-height: 100vh;
    z-index: 2;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(/Page\ CSS/Image/CSS_cover_img.jpg);
    background-position: 100% ;
    background-size:center;
}

/********* nav section ************/
nav:first-of-type{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
.logo{
  display: flex;
}
.html-logo{
  height: 3.2rem;
  margin: 0.4rem 0.2rem;
}
.text-logo{
  color: white;
  font-size: 2rem;
  margin: auto;
}
.nav-links ul li
{
  list-style: none;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;   
}
.nav-links ul li::after
{
  content: '';
  width: 0%;
  height: 0.14rem;
  background:#264DE4;
  display: block;
  margin: auto;
  transition: 300ms ease-in-out;
}
.nav-links ul li:hover::after
{
  width: 100%;
}


.flexedtext{
  display: flex;
  justify-content: space-around;
  min-height: inherit;
  margin: 0 3rem;
}
.text-box
{
  text-align: left;
  flex: 0 0 60%;
  margin-top: 12rem;
  padding-right:11rem;
}
.text-box h1
{
  color: #264DE4;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.text-box p{
  color: white;
  line-height: 1.8rem;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.role{
  text-align: left;
  color: white;
  margin-top: 12rem;
}
.role h1{
  color: #264DE4;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
::marker{
  color: #264de4;
  font-size: 1rem;
  font-weight: 700;
}
.role li{  
  margin-left: 2rem;
  color: white;
  line-height: 2rem;
  font-size: 1rem;
} 


/********** responsive *****************/
@media(max-width:48em){
  .nav-links{
    display: none;
  }
  .flexedtext{
    display: block;
  }
  .text-box{
    text-align: left;
    margin-top: 5rem;
    padding-right:1rem;
  }
  .role{
    text-align: left;
    color: white;
    margin: 0;
    padding: 5rem 0;
  }
  .ss-centered{
    display: block;
  }
  .editeur-text{
    display: block !important;
    padding: 0 2rem;
  }
  .left-side{
    display: none;
  }
  .ss:nth-child(2) h1,p{
    padding: 0 1rem;
  }
}
@media(max-width:31em){
  .text-box > p{
    width: 80vw !important;
  }
  .editeurs{
    display: block !important;
  }
  .editeur-fonctinality{
    font-size: 1rem !important;
  }
  th,td{
    padding: 0.2rem !important;
  }
}
  .a{
    padding: 0 0;
  }
  .a h2{
    text-align: center;
  }






/* *************editeur de text html*********** */
.editeur-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.left-side img{
  width: 20rem;
  transition: 15s ease-in-out;
  overflow: hidden;
}
.ss:hover .left-side img{
  transform: scale(1.5);
}
.right-side h2{
  font-size: 2.5rem;
  color: #264de4;
  margin-bottom: 1.2rem;
}
.right-side > p{
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.right-side h3{
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  transition: 200ms ease-in-out;
}
.right-side:hover h3{
  transform: scale(1.05);
}
.editeur-text .right-side{
  flex-basis: 45%;
}
.editeur-fonctinality{
  display: flex;
}
.editeur-fonctinality svg{
  max-width: 1.7rem;
  max-height: 1.7rem;
}
.editeur-fonctinality svg path{
fill: #264de4;
transition: 300ms ease-in-out;
}
.right-side:hover .editeur-fonctinality svg path{
  fill: #63FBD4;
}
.editeur-fonctinality p{
  font-size: 1.1rem;
  line-height: 2rem;
  margin-left: 0.5rem;
}

.right-side:nth-last-of-type(2) p{
  margin-bottom: 2rem;
}

/****** parallax *******/
.parallaxx{
  min-width: 100%;
  min-height: 50vh;
  background-image:url(/Page\ CSS/Image/Parallax_img.png);
  background-attachment: fixed;
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
}

  /************ grid ********************/
  .parent-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:   /* default mobile design */
     'one' 
     'two' 
     'three'
     'four'
     'five';
  
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  }
  
  .child {
    font-size: 0.8125rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3)
  }
  
  .child:nth-child(1) {
    grid-area: one;
  }
  .child:nth-child(2) {
    grid-area: two;
  }
  .child:nth-child(3) {
    grid-area: three;
  }
  .child:nth-child(4) {
    grid-area: four;
  }
  .child:nth-child(5) {
    grid-area: five;
  }
  .child > p:first-of-type {
    font-size: 1.45rem;
    line-height: 1.2;
  }
  .child p{
    padding-bottom: 0.5rem;
  }

  @media screen and (min-width: 33em) {
    .parent-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .parent-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }
  
  @media screen and (min-width: 54em) {
    .parent-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
  }
  
  @media screen and (min-width: 75em) {
    .parent-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }

/********** attribut table *************/
table{
  border-collapse: collapse;
  width: fit-content;
  height: fit-content;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
tr{
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
th{
  text-align: center;
  font-size: 1.1rem;
}
td{
  text-align: left;
}
th,td{
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}
.tablehead{
  background-color: #CCF6FF;
}
tr:not(:first-child):hover{
  background-color: #FAF8FF;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}


  /************************** footer *************************************/
footer{
    position: relative;
    height: 100vh;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Nunito', sans-serif;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 0.9375rem;
    box-shadow: 0 0.25rem 1.25rem 0 rgba(0,0,0,0.3),0 0.375rem 1.25rem 0 rgba(0,0,0,0.3);
    overflow:hidden;
}
.container::before{
    content:"";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #0652c5,#6e72fc);
    z-index: 6;
    transform: translateX(100%);
    transition: 700ms ease-in-out;
} 
.signin-up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 14.875rem;
    padding: 0 0.625rem;
}
form.signin-form{
    opacity:1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
form.signup-form{
    opacity:0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title{
    font-size: 2.1875rem;
    color: #2965f1;
    margin-bottom: 0.625rem ;
}
.input-field{
    width: 100%;
    height: 2.8125rem;
    background: #f0f0f0;
    margin:0.625rem 0;
    border: 2px solid #3A001E;
    border-radius: 3.125rem; 
    display: flex;
    align-items: center;
    transition: 200ms ease-in-out;
}
.input-field:hover{
  border: 2px solid #06bcfb;
}
.input-field img{
    margin-left: 0.5rem;
    width: 1.7rem;
    color: #666;
    font-size: 1.125rem;
}
.input-field input{
    flex:5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 600;
    color: #444;
    margin-left: 0.5rem;
}
.btn{
    width: 9.375rem;
    height: 3.125rem;
    border: none;
    border-radius: 3.125rem;
    background:  #302D4A;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.625rem 0;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.btn:hover{
    background:#06bcfb;
}
.social-text{
    margin: 0.625rem 0;
    font-size: 1rem;
    text-align: center;
}
.account-text{
  text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media svg{
    width: 1.2rem;
}
.social-media a{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 3.125rem;
    margin: 0 0.3125rem;
}

.social-media svg path{
    transition: fill 150ms ease-in-out;
}
.social-media a:hover svg path{
    fill: #06bcfb;
}

.social-media a{
    transition: 150ms ease-in-out;
}

.social-media a:hover{
    border-color: #06bcfb;
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 14.875rem;
    padding: 0 0.625rem;
    z-index: 6;
}
.left-panel{
    pointer-events: none;
}
.content{
    text-align: center;
    color: #fff;
    transition: 1.5s ease-in-out;
}
.panel h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.panel p{
    font-size: 0.9375rem;
    padding: 0.625rem 0;
}
.left-panel, .left-panel .content{
    transform: translateX(-200%);
}
.right-panel, .right-panel .content{
    transform: translateX(0);
}
.account-text{
    display: none;
}

/**************animation************/
.container.sign-up-mode::before{
    transform: translateX(0);
}
.container.sign-up-mode .right-panel,
.container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}
.container.sign-up-mode .left-panel,
.container.sign-up-mode .left-panel .content{
    transform: translateX(0);
}

.container.sign-up-mode .signin-form{
    opacity: 0;
}
.container.sign-up-mode .signup-form{
    opacity: 1;
}

.container.sign-up-mode .right-panel{
    pointer-events: none;
}
.container.sign-up-mode .left-panel{
    pointer-events: all;
}


/**************footer responsive***************/
@media (max-width:48.688em){
  .navbar{
    display: none;
  }
    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
@media (max-width:39.688em){
  
    .container::before{
        display: none;
    }
    form{
        width: 80%;
    }
    .content{
        display: none;
    }
    form.signup-form{
        display: none;
    }
    .container.sign-up-mode2 form.signup-form{
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.signin-form{
        display: none;
    }
    .panel-container{
        display: none;
    }
    .account-text{
        display: initial;
        margin: 1.25rem 0;
        font-weight: 600;
    }
}

@media (max-width:20em){
    form{
        width: 90%;
    }
    .container{
      border-radius: 0rem;
      box-shadow: none;
    }
}




/************* Hamburger Menu ***********************/
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

body.noscroll {
  overflow: hidden;
}

#btnHamburger{
  z-index: 3;
  margin-right: 1rem;
  
}


@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}
@media (max-width: 48em) {
  .hide-for-mobile {
    display: none;
  }
  nav{
    display: flex;
    flex-direction:row-reverse;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  z-index: 1;
  opacity: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(#2d314d, transparent);
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  z-index: 1;
  position: absolute;
  width: 90vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.625rem;
  border-radius: 5px;
  margin-top: 20rem;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}



/* ******Page Slider***** */
.navbar{
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 99;
}
.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li{
  width: 230px;
  position: relative;
  text-align: right;
}

.navbar ul li .dot{
  color: #fff;
  display: block;
  padding: 5px 0;
}
.navbar ul li .dot span{
  display: inline-block;
  background: #06bcfb;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-right: 30px;
  border-radius: 3px;
  transform: translateX(30px);
  opacity: 0; 
}

.navbar ul li:hover .dot span{
  transform: translateX(0px);
  opacity: 1;
}

.navbar ul li .dot span::before{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(7px, -50%);
  border-left: 7px solid #06bcfb;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}
.navbar ul li .dot::before,
.navbar ul li .dot::after{
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: block;
  transition: 200ms ease-out;
}

.navbar ul li .dot::before{
  height: 5px;
  width: 5px;
  border: 2px solid #333;
  right: 0;
  transform: translateY(-50%);
}

.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before{
  border-color: #06bcfb;
  background: #06bcfb;
} 

.navbar ul li .dot::after{
  height: 15px;
  width: 15px;
  border: 2px solid #06bcfb;
  right: -5px;
  transform: translateY(-50%) scale(0);
}

.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after{
  transform: translateY(-50%) scale(1);
} 